// variable css
$bodyColor: #fcfcfc;
$asideColor: #d2d2d2;
$mainColor: #f3f3f3;
$textColor: #707070;
$titleColor: #4a4a4a;
$mobColor: #d2d2d2;

// base
body {
   background-color: $bodyColor;
   color: $textColor;
}
h1,h2,h3 {
   color: $titleColor;
}
p,span,ul,a {
   color: $textColor;
}
button {
   color: $textColor;
   border-color: $textColor;
}
button:hover {
   box-shadow: inset 90px 0px 0px 0px #000000!important;
   color: $mainColor;
}
aside {
   background-color: $asideColor;
}

main {
   background-color: $mainColor;
}


/* Landscape phones and smaller */
@media (max-width: 480px) {
   .container {
      aside, main {
         background-color: $mobColor;
      }
   }
  }